body{
    background:url(./src/1.jpg)  no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
    background-color:#CCCCCC;
 }
 
 
 .first_rec{
     width: 1000px;
     height: 800px;
     line-height: 100px;
     text-align: center;
     margin: 100px;
     background-color: #33FFCC;
     border:5px solid black;
     border-radius:25px;
 }
 .button 
 {
     margin-top: 100px;
     font-size:24px;
     font-family:Arial;
     font-weight:normal;
     -moz-border-radius:29px;
     -webkit-border-radius:29px;
     border-radius:29px;
     border:1px solid #337fed;
     padding:9px 18px;
     text-decoration:none;
     background:-webkit-gradient( linear, left top, left bottom, color-stop(75%, #29bd15), color-stop(30%, #0c9c07) );
     background:-moz-linear-gradient( center top, #29bd15 75%, #0c9c07 30% );
     background:-ms-linear-gradient( top, #29bd15 75%, #0c9c07 30% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#0c9c07');
     background-color:#29bd15;
     color:#ffffff;
     display:inline-block;
     text-shadow:0px 0px 0px #1570cd;
      -webkit-box-shadow: 1px 0px 0px 0px #97c4fe;
      -moz-box-shadow: 1px 0px 0px 0px #97c4fe;
      box-shadow: 1px 0px 0px 0px #97c4fe;
 }
 .button:active
 {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(75%, #0c9c07), color-stop(30%, #29bd15) );
     background:-moz-linear-gradient( center top, #0c9c07 75%, #29bd15 30% );
     background:-ms-linear-gradient( top, #0c9c07 75%, #29bd15 30% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c9c07', endColorstr='#29bd15');
     background-color:#0c9c07;
 }
 .large_font
 {
     font-size: 300%;
     font-family: Arial, Helvetica, sans-serif;
     line-height: 150%;
     margin-top: 30px;
 }
 .small_font
 {
     font-size: 150%;
     font-family: Arial, Helvetica, sans-serif;
 }

.varer
{
    position: absolute;
    width: 300px;
    height: 400px;
    bottom: 35%;
    left: 60%;
}

.leader
{
    position: absolute;
    width: 300px;
    height: 400px;
    bottom: 40%;
    left: 13%;
}

 .varer_img
 {
    position: absolute;
    top: 55%;
    width: 150px;
    height: 200px;
 }

 .leader_img
 {
    position: absolute;
    top: 55%;
    width: 230px;
    height: 300px;
 }

 .instruction
 {
    position: fixed;
    font-size: 20px;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    bottom: 0%;
    right: 0%;
    width: 700px;
    height: 250px;
    border: solid 2px black;
    background-color: white;
 }

 .bubble::before{
    content: '';
    width: 0;
    height: 0;
    border: 20px solid;
    position: absolute;
    bottom: -40px;
    left: 50px;
    border-color:#000000 transparent transparent;
}

.bubble{
    width: 300px;
    height: 200px;
    font-size: 16px;
    border: 3px  solid #000000;
    border-radius: 10px;  /*圆角弧度为7px*/
    position: absolute;
    background-color: white;
}

.bubble::after{
    content: '';
    width: 0;
    height: 0;
    border: 20px solid;
    position: absolute;
    bottom: -37px;
    left: 50px;
    border-color:  #ffffff transparent transparent;
}